flask
flask-cors
python-dotenv
sentence-transformers
huggingface_hub
safetensors
tokenizers
nltk
transformers
torch
google-generativeai
faiss-cpu
rank_bm25
scikit-learn
numpy
regex
requests
tqdm
filelock
packaging
typing_extensions
pyinstaller
einops
sentry-sdk[flask]
